*.mldylib
*.mllib
META
_build
_tags
LR/AUTHORS.txt
LR/configure
LR/INSTALL.txt
myocamlbuild.ml
*.out
setup.ml
setup.data
setup.log
LR/Makefile
LR/README.txt
lex.yy.c
LR/mid_term/case2.ml
LR/mid_term/case2.mli
LR/mid_term/case3.automaton
LR/mid_term/case3.conflicts
LR/mid_term/case3.ml
LR/mid_term/case3.mli
*.class
*.tokens
*.interp
ANTLR/Expr/LExprBaseVisitor.java
ANTLR/Expr/LExprLexer.java
ANTLR/Expr/LExprParser.java
ANTLR/Expr/LExprVisitor.java
ANTLR/Rendering/RenderingBaseListener.java
ANTLR/Rendering/RenderingLexer.java
ANTLR/Rendering/RenderingListener.java
ANTLR/Rendering/RenderingParser.java
ANTLR/RenderingV/RenderingBaseVisitor.java
ANTLR/RenderingV/RenderingLexer.java
ANTLR/RenderingV/RenderingParser.java
ANTLR/RenderingV/RenderingVisitor.java
ANTLR/Expr2/LExprBaseVisitor.java
ANTLR/Expr2/LExprLexer.java
ANTLR/Expr2/LExprParser.java
ANTLR/Expr2/LExprVisitor.java
ANTLR/TypedWhile/WhileBaseVisitor.java
ANTLR/TypedWhile/WhileLexer.java
ANTLR/TypedWhile/WhileParser.java
ANTLR/TypedWhile/WhileVisitor.java
